/* line 1, ../../../scss/core.scss */
body {
  font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
  margin: 0;
}

/* line 6, ../../../scss/core.scss */
h1 {
  font-size: 1.4em;
}

/* line 10, ../../../scss/core.scss */
h2 {
  font-size: 1.2em;
}

/* line 14, ../../../scss/core.scss */
.hide {
  display: none;
}

/* line 18, ../../../scss/core.scss */
.clearfix {
  clear: both;
}

/* line 21, ../../../scss/core.scss */
.top-container {
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  background: #005B9A;
  color: #fafafa;
}
/* line 28, ../../../scss/core.scss */
.top-container .welcome {
  padding-left: 24px;
}

/* line 33, ../../../scss/core.scss */
.center-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 36px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 42, ../../../scss/core.scss */
.center-container canvas {
  margin-bottom: 10px;
}
/* line 46, ../../../scss/core.scss */
.center-container .chart {
  height: 400px;
  width: 100%;
}
/* line 51, ../../../scss/core.scss */
.center-container .leftnav {
  width: 170px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}
/* line 57, ../../../scss/core.scss */
.center-container .leftnav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 30px 0px;
}
/* line 64, ../../../scss/core.scss */
.center-container .leftnav ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 36px;
  display: block;
  padding-left: 24px;
  box-sizing: border-box;
  color: #111111;
}
/* line 72, ../../../scss/core.scss */
.center-container .leftnav ul li a:hover {
  color: #111111;
  background-color: #eeeeee;
  padding-left: 18px;
  border-left: solid 6px #005B9A;
}
/* line 83, ../../../scss/core.scss */
.center-container .centerwell {
  background-color: #ededed;
  width: auto;
  margin-left: 170px;
  height: 100%;
  overflow-y: scroll;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
/* line 94, ../../../scss/core.scss */
.center-container .centerwell table {
  background-color: #ffffff;
}
/* line 98, ../../../scss/core.scss */
.center-container .centerwell .report-title {
  margin: 16px 0px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  border-left: solid 3px #005B9A;
  padding-left: 8px;
}
/* line 110, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td.nick, .center-container .centerwell .consumer-matrix tr th.nick {
  min-width: 200px;
  max-width: 320px;
}
/* line 115, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td.count-of-bills, .center-container .centerwell .consumer-matrix tr th.count-of-bills {
  width: 100px;
}
/* line 119, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td.first-paid, .center-container .centerwell .consumer-matrix tr td.latest-paid, .center-container .centerwell .consumer-matrix tr th.first-paid, .center-container .centerwell .consumer-matrix tr th.latest-paid {
  width: 200px;
}
/* line 123, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td.more, .center-container .centerwell .consumer-matrix tr th.more {
  width: 80px;
  text-align: center;
}
/* line 134, ../../../scss/core.scss */
.center-container .centerwell .product-matrix tr td.picture, .center-container .centerwell .product-matrix tr th.picture {
  width: 140px;
}
/* line 137, ../../../scss/core.scss */
.center-container .centerwell .product-matrix tr td.picture img, .center-container .centerwell .product-matrix tr th.picture img {
  max-width: 120px;
}
/* line 142, ../../../scss/core.scss */
.center-container .centerwell .product-matrix tr td.title, .center-container .centerwell .product-matrix tr th.title {
  width: 500px;
}
/* line 146, ../../../scss/core.scss */
.center-container .centerwell .product-matrix tr td.price, .center-container .centerwell .product-matrix tr th.price {
  width: 160px;
}
/* line 153, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix, .center-container .centerwell .product-matrix {
  font-size: 14px;
}
/* line 156, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr th, .center-container .centerwell .product-matrix tr th {
  text-align: left;
  font-weight: normal;
  background-color: #8C8984;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border-left: solid 1px #111111;
  border-top: solid 1px #111111;
  border-bottom: solid 1px #111111;
}
/* line 167, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr th:last-child, .center-container .centerwell .product-matrix tr th:last-child {
  border-right: solid 1px #111111;
}
/* line 174, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td, .center-container .centerwell .product-matrix tr td {
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  border-left: solid 1px #111111;
  border-bottom: solid 1px #111111;
}
/* line 180, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td:last-child, .center-container .centerwell .product-matrix tr td:last-child {
  border-right: solid 1px #111111;
}
/* line 185, ../../../scss/core.scss */
.center-container .centerwell .consumer-matrix tr td.more a, .center-container .centerwell .product-matrix tr td.more a {
  color: #0191C8;
}
/* line 194, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1.1px solid #e7e7e7;
  background-color: #ffffff;
  box-sizing: border-box;
}
/* line 200, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper div {
  margin: 8px;
}
/* line 204, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper .legends {
  margin-top: 16px;
  margin-bottom: 16px;
}
/* line 208, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper .legends ul {
  list-style: none;
  padding: 0px;
  margin: 0 0 0 70px;
}
/* line 212, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper .legends ul li {
  font-size: 14px;
  line-height: 16px;
  margin: 12px 0px;
  clear: both;
}
/* line 213, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper .legends ul li .icon {
  float: left;
  height: 14px;
}
/* line 218, ../../../scss/core.scss */
.center-container .centerwell .report-canvas-wrapper .legends ul li div.cube {
  width: 14px;
  height: 14px;
  margin: 0px 8px 0px 0px;
  float: left;
}

/* line 236, ../../../scss/core.scss */
.consumer-selector {
  font-size: 14px;
}
/* line 238, ../../../scss/core.scss */
.consumer-selector .title {
  font-weight: bold;
}
/* line 241, ../../../scss/core.scss */
.consumer-selector ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 246, ../../../scss/core.scss */
.consumer-selector ul li {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 253, ../../../scss/core.scss */
.product-select {
  background-color: #ffffff;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1.1px solid #e7e7e7;
}
/* line 260, ../../../scss/core.scss */
.product-select .product-title {
  height: 28px;
  width: 600px;
  font-size: 14px;
  border: solid 1px #dfdfdf;
}
/* line 267, ../../../scss/core.scss */
.product-select .product-select-button {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/search.png");
  background-color: white;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
  outline: 0;
}
/* line 278, ../../../scss/core.scss */
.product-select .product-select-button:hover {
  cursor: pointer;
}
/* line 283, ../../../scss/core.scss */
.product-select .product-selector-dialog {
  overflow-y: hidden;
}
@keyframes slide-down-frames {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
/* line 295, ../../../scss/core.scss */
.product-select .product-selector-dialog.slide-down-anim {
  -webkit-animation-name: slide-down-frames;
  -moz-animation-name: slide-down-frames;
  -o-animation-name: slide-down-frames;
  animation-name: slide-down-frames;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
/* line 306, ../../../scss/core.scss */
.product-select .product-selector-dialog .product-selector {
  margin-top: 6px;
}
/* line 310, ../../../scss/core.scss */
.product-select .product-selector-dialog table {
  margin-top: 2px;
  font-size: 13px;
}
/* line 315, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr .title {
  width: 400px;
  text-align: left;
}
/* line 320, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr .purchased {
  width: 100px;
  text-align: left;
}
/* line 326, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr .picture img {
  width: 40px;
}
/* line 333, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr th {
  background-color: #8C8984;
  color: white;
}
/* line 338, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr td, .product-select .product-selector-dialog table tr th {
  padding: 4px;
  border-top: solid 1px #bfbfbf;
  border-left: solid 1px #bfbfbf;
}
/* line 343, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr td:last-child, .product-select .product-selector-dialog table tr th:last-child {
  border-right: solid 1px #bfbfbf;
}
/* line 349, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr:last-child td {
  border-bottom: solid 1px #bfbfbf;
}
/* line 354, ../../../scss/core.scss */
.product-select .product-selector-dialog table tr:hover {
  background-color: #fcf141;
  cursor: pointer;
}

/* line 364, ../../../scss/core.scss */
.pagination {
  font-size: 12px;
}
/* line 367, ../../../scss/core.scss */
.pagination .current {
  margin-left: 8px;
  margin-right: 8px;
}
/* line 373, ../../../scss/core.scss */
.pagination a.prev, .pagination a.next {
  text-decoration: underline;
  color: #005B9A;
}
/* line 377, ../../../scss/core.scss */
.pagination a.prev.disabled, .pagination a.next.disabled {
  text-decoration: none;
}

/* line 384, ../../../scss/core.scss */
#consumer-more-timeline {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 389, ../../../scss/core.scss */
.legend {
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* line 399, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node {
  float: right;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1.1px solid #e7e7e7;
  background-color: white;
  padding: 4px;
  box-sizing: border-box;
}
/* line 408, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node.show-connected-nodes {
  width: 300px;
  display: inline;
}
/* line 413, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node .summary {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  border-left: solid 2px #005B9A;
  padding-left: 4px;
}
/* line 420, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node .summary label.times {
  font-size: 16px;
  font-weight: bold;
  color: #0191C8;
}
/* line 429, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node table tr:first-child td {
  border-top: solid 1px #e4e9f0;
}
/* line 434, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node table tr td {
  border-right: solid 1px #e4e9f0;
  border-bottom: solid 1px #e4e9f0;
  padding: 4px;
  font-size: 12px;
}
/* line 437, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node table tr td:first-child {
  border-left: solid 1px #e4e9f0;
}
/* line 445, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-selected-node table tr td.picture img {
  width: 40px;
}
/* line 455, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-network-topo-wrapper #product-combo-network-topo {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2faff;
}
/* line 460, ../../../scss/core.scss */
.product-combo .product-combo-report .product-combo-network-topo-wrapper.show-connected-nodes {
  margin-right: 306px;
}

/* line 467, ../../../scss/core.scss */
.datetime-selector {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1.1px solid #e7e7e7;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
}
/* line 474, ../../../scss/core.scss */
.datetime-selector label {
  font-size: 14px;
}
/* line 478, ../../../scss/core.scss */
.datetime-selector .datetimepicker {
  font-size: 14px;
  padding: 4px;
  width: 120px;
  margin-left: 4px;
  vertical-align: middle;
}
/* line 485, ../../../scss/core.scss */
.datetime-selector .datetimepicker:focus {
  border: solid 1px #4184f3;
  border-radius: 1px;
  outline: none;
}
/* line 492, ../../../scss/core.scss */
.datetime-selector .submit {
  font-size: 14px;
  vertical-align: middle;
  border: 1.1px solid #d3d3d3;
  border-radius: 2px;
  height: 29px;
  width: 64px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.02));
  color: #424242;
  cursor: pointer;
  margin-left: 8px;
}
/* line 505, ../../../scss/core.scss */
.datetime-selector .submit:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-color: #ccc;
}

/* line 512, ../../../scss/core.scss */
.adhoc-time-ranges-builder {
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 1em;
}
/* line 514, ../../../scss/core.scss */
.adhoc-time-ranges-builder form {
  margin-bottom: 0px;
}
/* line 523, ../../../scss/core.scss */
.adhoc-time-ranges-builder label {
  font-size: 14px;
}
/* line 527, ../../../scss/core.scss */
.adhoc-time-ranges-builder .datetimepicker {
  font-size: 14px;
  padding: 4px;
  width: 120px;
  margin-left: 4px;
  vertical-align: middle;
}
/* line 534, ../../../scss/core.scss */
.adhoc-time-ranges-builder .datetimepicker:focus {
  border: solid 1px #4184f3;
  border-radius: 1px;
  outline: none;
}
/* line 540, ../../../scss/core.scss */
.adhoc-time-ranges-builder .datetimepicker.datetime-start {
  margin-right: 24px;
}
/* line 543, ../../../scss/core.scss */
.adhoc-time-ranges-builder .datetimepicker.datetime-end {
  margin-left: 24px;
}
/* line 548, ../../../scss/core.scss */
.adhoc-time-ranges-builder .actions {
  margin-bottom: 1.4em;
}
/* line 549, ../../../scss/core.scss */
.adhoc-time-ranges-builder .actions .add {
  outline: none;
  height: 24px;
  width: 24px;
  background-image: url("/images/add_button.png");
  background-color: transparent;
  opacity: 0.8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
/* line 561, ../../../scss/core.scss */
.adhoc-time-ranges-builder .actions .add:hover {
  opacity: 1.0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 574, ../../../scss/core.scss */
.adhoc-time-ranges-builder .time-ranges .time-range {
  margin-bottom: 6px;
  padding-bottom: 6px;
}
/* line 578, ../../../scss/core.scss */
.adhoc-time-ranges-builder .time-ranges .time-range .delete {
  vertical-align: middle;
  margin-left: 16px;
  opacity: 0.8;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px transparent;
}
/* line 588, ../../../scss/core.scss */
.adhoc-time-ranges-builder .time-ranges .time-range .delete:hover {
  cursor: pointer;
  opacity: 1.0;
  border: solid 1px #A2A2A2;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 602, ../../../scss/core.scss */
.shadow-border {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 1.1px solid #e7e7e7;
}

/* line 608, ../../../scss/core.scss */
.single-product-purchase .description {
  background-color: white;
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
}
/* line 617, ../../../scss/core.scss */
.single-product-purchase .conditions {
  padding: 6px;
  background-color: #ffffff;
  margin-bottom: 1em;
}
/* line 623, ../../../scss/core.scss */
.single-product-purchase .submit {
  font-size: 14px;
  vertical-align: middle;
  border: 1.1px solid #d3d3d3;
  border-radius: 2px;
  height: 29px;
  width: 64px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.02));
  color: #424242;
  cursor: pointer;
  outline: none;
  margin-top: 16px;
}
/* line 637, ../../../scss/core.scss */
.single-product-purchase .submit:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-color: #ccc;
  background-color: #005B9A;
  color: #ffffff;
  transition: background-color 240ms, color 240ms;
}

/* line 648, ../../../scss/core.scss */
.multiple-product-selector .selected-products {
  display: inline-block;
}
/* line 651, ../../../scss/core.scss */
.multiple-product-selector .selected-products ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}
/* line 656, ../../../scss/core.scss */
.multiple-product-selector .selected-products ul li {
  padding: 0 4px;
  margin: 0 12px 6px 0px;
  float: left;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  border: solid 1px #eeeeee;
}
/* line 664, ../../../scss/core.scss */
.multiple-product-selector .selected-products ul li img {
  height: 38px;
  float: left;
}
/* line 672, ../../../scss/core.scss */
.multiple-product-selector table {
  font-size: 12px;
}
/* line 677, ../../../scss/core.scss */
.multiple-product-selector table tr.selected td {
  background-color: #dfeff0;
}
/* line 682, ../../../scss/core.scss */
.multiple-product-selector table tr td {
  padding: 4px;
  border-bottom: solid 1px #b1b1b1;
  border-left: solid 1px #b1b1b1;
  box-sizing: border-box;
}
/* line 688, ../../../scss/core.scss */
.multiple-product-selector table tr td:last-child {
  border-right: solid 1px #b1b1b1;
}
/* line 694, ../../../scss/core.scss */
.multiple-product-selector table tr:first-child td {
  border-top: solid 1px #b1b1b1;
}
/* line 699, ../../../scss/core.scss */
.multiple-product-selector table tr .checkbox {
  width: 32px;
  text-align: center;
}
/* line 705, ../../../scss/core.scss */
.multiple-product-selector table tr .picture img {
  height: 48px;
}

/*# sourceMappingURL=core.css.map */
